
.container-fluid{
  background-color: rgb(148, 219, 34);
  margin: -10px;
}

.portfolio{
  font-family: 'Kulim Park';
  font-size: 30px;
  margin-right: 10px;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card{
  margin-top: 70px;
}




.navbar ul{
  margin-left: -10px;

}

.navbar a{
  color: rgb(0, 0, 0);
 font-family: 'Kulim Park';
  font-size: 22px;
  margin-left: 15px;
}


.navbar a:hover{
  color: rgb(255, 255, 255);
}



.myimg{
  display: flex;
  overflow: hidden;
  justify-content: right;
  width: 400px;
  height: 400px;
  padding-left: 100px;
  padding-top: 100px;
  padding-bottom: 50px;
}

.introtext{
  display: flex;
  align-items: center;
  
  padding-top: 60px;
  font-family: 'Kulim Park';
  color: rgb(255, 255, 255);
}

.container-fluid{
  justify-content: center;
}

.banner{
  height: 300px;
  color: rgb(255, 255, 255);
  padding-top: 100px;
  padding-bottom: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
  font-family: 'Kulim park';
}

.btn a{
  margin-top: 40px;
  
}

.btn{
  margin-top: 40px;
  background-color: rgb(148, 219, 34) !important;
}

.projects{
  
      margin-top: 90px !important;
      margin-bottom: 90px !important;
      margin-left: -10px !important;
      color: black;
      font-family: 'Kulim Park';
      color: rgb(255, 255, 255);
      
      
     
  }

  .socials{
    margin-top: 30px;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
  }

  #introduction{
    padding-left: 300px;
  }

  #contact{
    padding-top: 50px;
  }
  
  
  

  

  
  
 


  
  
  